body{
  font:15px/1.5 Allan;
  padding: 0;
  margin: 0;
  background-color: #7CB4B8;
}
/* Global*/
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
  font-family: Allan;
}
ul{
 margin: 0;
 padding: 0;
}
footer{
  background-color:  #524948;
  text-align: center;
  color: #fff;
  font-size: 30px;
}
/*Header*/
header{
  background: #70F8BA;
  color:black;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #CAFE48 3px solid;

}
header a{
  color:#52489C ;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
  font-family: Arbutus ;
  margin-bottom: 5px;
  font-style:oblique;
  font-size: 30px;
}
header #branding{
  float:left;
}
header #branding h1{
  margin: 0;
  font-size: 60px;
  font-family: Sofia;
  margin-bottom: 5px;
  font-style: italic;
  color: #52489C;

}
header nav{
  float:right;
  margin-top: 10px;
}
header a:hover{
  color:#524948;
  font-weight: bold;
}
/*About*/
#about{
  min-height:400px;
  background: url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?auto=format&fit=crop&w=750&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D') no-repeat  0 -400px;
  background-size: cover;
  text-align: center;
  background-position: 50%;
  margin: 0 auto;
  opacity: .7;
  border-bottom: #997F7F 3px solid;
}
#about h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: bold;
  color:#666666;
}
#about p{
  font-size: 30px;
  color:#190000;
  font-style:oblique;
  text-align: center;
  font-weight:lighter;
}

/*portfolio*/
#portfolio{
  min-height:400px;
  background: url('https://images.unsplash.com/photo-1437419764061-2473afe69fc2?auto=format&fit=crop&w=890&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D') no-repeat  0 -400px;
  background-size: cover;
  text-align: center;
  background-position: 50%;
  margin: 0 auto;
  opacity: .7;
  border-bottom: #997F7F 3px solid;
  padding-bottom: 10px;
}
#portfolio h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: bold;
  color:#fff;
}
#portfolio h2{
  font-size: 40px;
  color:#330000;
  font-style:italic;
  text-align: center;
  font-weight:bold;
}
#portfolio h3{
  font-size: 20px;
  color:#4C0000;
  font-style:oblique;
  text-align: center;
  font-weight:bold;
  font-family: Caveat Brush;
}
.block{
  background-color:#fff;
  opacity:.4;
  padding:10px;
  width:50%;
  margin-right:auto;
  margin-left:auto;
  border-radius:  90px;
  border-style: dashed;
  text-align: center;
}
#portfolio a{
  text-decoration: none;
}
