body{
  font:15px/1.5 Allan;
  padding: 0;
  margin: 0;
  background-color: #7CB4B8;
}
/* Global*/
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
/*Header*/
header{
  background: #70F8BA;
  color:black;
}
