/*Global*/
*{
  margin: 0;
  padding: 0;
}
body{
  text-align: center;
  font-family: Alex Brush;
  line-height: 1.6;
  margin: 0;

}
/*showcase*/
#showcase{
  background-image:  url('./images/photo.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*The Title*/
#title{
  color:#8AC40E;
  font-family: Alex Brush;
  text-align: center;
  position: absolute;
   right:  80px;
   top: 140px;
   left:80px;
  font-size: 90px;
}
/*The Subtitle*/
#subtitle{
  color:#8AC40E;
  font-family: Alex Brush;
  position: absolute;
   right:  80px;
   top: 260px;
   left:50px;
  font-size: 30px;
}
/*The a Tag*/
#hr{
  color:#FFFE19;
  font-family: Bangers;
  position: absolute;
   right:  80px;
   top: 390px;
   left:60px;
  font-size: 50px;
  text-decoration: none;
  text-shadow: 4px 2px   #8AC40E;
}
/*Media Query*/
/*Mobile Devices*/
@media only screen
  and (min-width: 320px)
  and (max-width: 480px)
 {
    #title{
      font-size: 45px;
      padding-top: 50px;
    }
    #subtitle{
      font-size: 30px;
      padding-top: 40px;
    }
    #hr{
      padding-top: 50px;
    }

  }
  @media only screen
  and (min-width: 375px)
  and (max-width: 812px){
    #title{
      font-size: 45px;
      padding-top: 50px;
    }
    #subtitle{
      font-size: 30px;
      padding-top: 40px;
    }
    #hr{
      padding-top: 50px;
    }
  }
  /*Ipad Devices*/
  @media only screen
  and (min-width : 768px)
  and (max-width : 1024px){
    #title{
      padding-top: 280px;
    }
    #subtitle{
      font-size: 40px;

      padding-top: 310px;
    }
    #hr{
      padding-top: 350px;
    }
